html, body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  
  
  .btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0.6em;
    color: black;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 50px;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

  .fourth {
       position: relative;
       z-index: 1;
       display: inline-block;
       padding: 20px 40px;
       box-sizing: border-box;
       border: 10px solid transparent;
       border-radius: 50px;
       border-image: linear-gradient(to top right, orangered, yellow);
       border-image-slice: 1;
       color: orangered;
       outline: none;
       transition: all 0.3s ease;
     }
     .fourth:hover {
       background-size: 100%;
       background-image: linear-gradient(to top right, orangered, yellow);
       color: white;
     }
  
  